server:
  port: 8080

spring:
  application:
    name: multi-tenant-demo-app
  jpa:
#    open-in-view: false
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
#    hibernate:
      #ddl-auto: create-drop
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comment: true
  datasource:
    initialization-mode: never

jwt:
  secret: "D$R/6H])mWj~P[9$`CV;7;5{~%Wcxd"

tenants:
  datasources:
    tenant1:
#      driverClassName: com.mysql.jdbc.Driver
#      driverClassName: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3406/demo?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=GMT
      username: demo
      password: password
    tenant2:
#      driverClassName: com.mysql.jdbc.Driver
#      driverClassName: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3506/demo?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=GMT
      username: demo
      password: password

logging:
  level:
    org:
      keycloak: DEBUG
      springframework:
        security: DEBUG
        jdbc:
          core:
            JdbcTemplate: DEBUG
            StatementCreatorUtils: DEBUG
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE