version: '3'
services:
  app-idp:
    image: "jboss/keycloak:11.0.3"
    extra_hosts:
      - "id.davidphu.com:$DOCKERHOST"
    ports:
      - "8180:8080"
    volumes:
      - ./realms:/tmp/realms
      - .:/tmp
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - DB_VENDOR=h2
      #- KEYCLOAK_IMPORT=/tmp/realms/main_realm.json
    command:
      - "-b 0.0.0.0"
      - "-Dkeycloak.migration.action=import"
      - "-Dkeycloak.migration.provider=dir"
      - "-Dkeycloak.profile.feature.upload_scripts=enabled"
      - "-Dkeycloak.migration.dir=/tmp/realms"
      - "-Dkeycloak.migration.strategy=IGNORE_EXISTING"